img{
    width: 300px;
    border-radius: 10%;
}


p{
    color: rgb(250, 249, 249);
    background: #5cb9b3;
}

p{
    color: rgb(250, 249, 249);
    background: #5cb9b3;
}


.square{
    background: rgb(212, 252, 33);
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.square:hover{
    background: green;
    border-radius: 100%;
}

.square1 {
    background: rgb(187, 52, 255);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: 0.5s;
}
.square1:hover {
    background: red;
    width: 200px;
    height: 200px;
    border-radius: 25%;
}